{{#loadBalancers}}
<tr class="quotas-row">
    <td>{{{status}}}</td>
    <td>{{name}} &nbsp;&nbsp; {{#description}}<i class="bi bi-info-circle" title="{{description}}"></i>{{/description}} </td>
    <td>{{type}}</td>
    <td>{{limit}}</td>
    <td>{{current}}</td>
</tr>
{{/loadBalancers}}

