/* Overall styles */
body {
    font-family: Inter, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    background-color: #f3f4fa;
}

.divider {
    border-right: 1px solid #e7e9f3;
}

/* Left side styles */
#navigation-panel {
    max-width: 260px;
    /* Limit the maximum width */
    width: 100%;
    /* Ensure it takes up the full available width */
    background-color: #f3f4fa;
    border-right: 1px solid #e7e9f3;
    padding-right: 5px;
    /* Adjusted padding */
    padding-left: 5px;
    /* Adjusted padding */
}


#logo {
    padding: 20px 5px;
    margin-bottom: 20px;
    border-bottom: 1px solid #e7e9f3;
}

#service-target {
    padding: 20px 5px;
    margin-bottom: 20px;
    border-top: 1px solid #e7e9f3;
    border-bottom: 1px solid #e7e9f3;
}

.nav-link {
    color: black;
}

.nav-link:hover {
    color: blue;
}

.navigation-header {
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 5px;
}

/* Right side styles */
#main {
    border-left: 1px solid #e7e9f3;
}

#breadcrumbs {
    padding: 10px 20px;
    border-bottom: 1px solid #e7e9f3;
}

#spacer {
    height: 20px;
    border-bottom: 1px solid #e7e9f3;
}

#subcontent {
    background-color: white;
    min-height: calc(100vh - 63px - 20px - 20px);
    padding: 20px;
    min-width: 600px;
    max-width: 1500px;
}


/* API Keys styles */

.form-inline input:not(.is-invalid),
.form-inline input:not(.is-valid) {
    padding-right: calc(1.5em + 0.75rem);
}

.tenant-name {
    width: 250px;
    max-width: 250px;
}

.namespace-name {
    width: 300px;
    max-width: 300px;
}

.apikey {
    width: 300px;
    max-width: 300px;
}

.api-key-row {
    background-color: rgb(250, 249, 249);
    padding-top: 10px;
    padding-bottom: 10px;
}


/* Custom table for Overview page */

/* Ensure table has no vertical borders except the left and right edges */
.table-custom {
    border-collapse: collapse;
    width: 100%;
}

/* .table-custom tr {
    border: 1px solid #dee2e6;
} */

.table-custom th,
.table-custom td {
    border-top: none;
    border-bottom: none;
    border-left: none;
    border-right: none;
    vertical-align: middle;
    /* border: 1px solid #dee2e6; */
}

.table-custom th:first-child,
.table-custom td:first-child {
    text-align: left;
}

/* Hover highlight for table rows */
.table-hover tbody tr:hover {
    background-color: #f5f5f5;
}

/* Different background color for thead and border around it */
.table-custom thead th {
    background-color: #f3f4fa;
    /* border: 1px solid #dee2e6; */
    /* border-bottom: none; */
    /* No border at the bottom of the header cells */
}


.table-custom thead {
    border: 1px solid #dee2e6;
    /* border-bottom: none; */
}

/* Border around each tr */
.table-custom tbody tr,
.table-custom tbody tr.collapsing,
.table-custom tbody tr.collapse {
    border: 1px solid #dee2e6;
}

/* CSS to toggle icons */
a[aria-expanded="true"] .bi-chevron-right {
    display: none;
}

a[aria-expanded="false"] .bi-chevron-down {
    display: none;
}

div[aria-expanded="true"] .bi-chevron-right {
    display: none;
}

div[aria-expanded="false"] .bi-chevron-down {
    display: none;
}

/* Styles for the collapse header */
.collapse-header {
    background-color: #d1e7fd;
    /* Complementary light blue */
    padding: 10px;
    border: 1px solid #dee2e6;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.collapse-header .tenant-name {
    flex-grow: 1;
    margin-left: 10px;
}

.collapse-body {
    /* border: 1px solid #dee2e6; */
    padding-left: 10px;
    padding-right: 10px;
}