/* Overall styles */
body {
    /* font-family: Inter, Helvetica Neue, Helvetica, Arial, sans-serif; */
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;

    font-size: 14px;
    background-color: #f3f4fa;
    display: flex;
}

.divider {
    border-right: 1px solid #e7e9f3;
}

/* Generic styles */
.padding-topbottom-5px {
    padding: 5px;

}

/* Left side styles */
#navigation-panel {
    /* max-width: 250px; */
    /* Limit the maximum width */
    min-width: 200px;
    width: 200px;
    height: 100%;
    /* Ensure it takes up the full available width */
    background-color: #f3f4fa;
    border-right: 1px solid #e7e9f3;
    padding-right: 5px;
    /* Adjusted padding */
    padding-left: 5px;
    /* Adjusted padding */
}


#logo {
    padding: 20px 5px;
    margin-bottom: 20px;
    border-bottom: 1px solid #e7e9f3;
}

#service-target {
    padding: 20px 5px;
    margin-bottom: 20px;
    border-top: 1px solid #e7e9f3;
    border-bottom: 1px solid #e7e9f3;
}

.nav-link {
    color: black;
}

.nav-link:hover {
    color: blue;
}

.navigation-header {
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 5px;
}

/* Right side styles */
#main {
    border-left: 1px solid #e7e9f3;
    min-width: 1300px;
    overflow-x: auto;
    /* display: inline-block; */
}

#breadcrumbs {
    padding: 10px 20px;
    border-bottom: 1px solid #e7e9f3;
}

#spacer {
    height: 20px;
    border-bottom: 1px solid #e7e9f3;
}

#subcontent {
    background-color: white;
    min-height: calc(100vh - 63px - 20px - 20px);
    padding: 20px;
    min-width: 600px;
    max-width: 1500px;
}



/* API Keys styles */

.form-inline input:not(.is-invalid),
.form-inline input:not(.is-valid) {
    padding-right: calc(1.5em + 0.75rem);
}



.tenant-name {
    width: 200px;
    max-width: 200px;
    /* font-size: 14px !important; */
}

.namespace-type {
    width: 110px;
    max-width: 110px;
    /* font-size: 14px !important; */
}

.namespace-name {
    width: 200px;
    max-width: 200px;
    /* font-size: 14px !important; */
}

.apikey {
    width: 400px;
    max-width: 400px;
    /* font-size: 14px !important; */
}

.apikey-rights,
.apikey-type,
.apikey-format {
    width: 95px;
    max-width: 95px;
    /* font-size: 14px !important; */
}

.delegated-state,
.apikey-state,
.apikey-rights {
    width: 115px;
    max-width: 115px;
    /* font-size: 14px !important; */
}


.api-key-row {
    /* font-size: 8px !important; */
    background-color: rgb(13, 110, 253, 0.1);
    border-radius: 15px 50px 50px 15px;
    padding: 10px;
}


/* Custom table for Overview page */

/* Ensure table has no vertical borders except the left and right edges */
.table-custom {
    border-collapse: collapse;
    width: 100%;
    font-size: 12px;
    table-layout: fixed;
}

/* .table-custom tr {
    border: 1px solid #dee2e6;
} */

.table-custom th,
.table-custom td {
    border-top: none;
    border-bottom: none;
    border-left: none;
    border-right: none;
    vertical-align: middle;
    word-wrap: break-word;
    /* border: 1px solid #dee2e6; */
}

/* .table-custom th:first-child,
.table-custom td:first-child {
    text-align: left;
} */
.table-align-left {
    text-align: left;
}

/* Hover highlight for table rows */
.table-hover tbody tr:hover {
    background-color: #f5f5f5;
}

/* Different background color for thead and border around it */
.table-custom thead th {
    background-color: #f3f4fa;
    /* border: 1px solid #dee2e6; */
    /* border-bottom: none; */
    /* No border at the bottom of the header cells */
}


.table-custom thead {
    border: 1px solid #dee2e6;
    /* border-bottom: none; */
}

/* Border around each tr */
.table-custom tbody tr,
.table-custom tbody tr.collapsing,
.table-custom tbody tr.collapse {
    border: 1px solid #dee2e6;
}


.tableDetails {
    padding: 10px;
    overflow: auto;
}

/* .resource-row td:first-child {
    width: 30px;
    max-width: 30px;
    background-color: aqua;
} */

/* CSS to toggle icons */
a[aria-expanded="true"] .bi-chevron-right {
    display: none;
}

a[aria-expanded="false"] .bi-chevron-down {
    display: none;
}

div[aria-expanded="true"] .bi-chevron-right {
    display: none;
}

div[aria-expanded="false"] .bi-chevron-down {
    display: none;
}


table.collapse.in {
    display: table;
}

/* Styles for the collapse header */
.collapse-header {
    background-color: #d1e7fd;
    /* Complementary light blue */
    padding: 10px;
    border: 1px solid #dee2e6;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.collapse-header .tenant-name {
    flex-grow: 1;
    margin-left: 10px;
}

.collapse-body {
    /* border: 1px solid #dee2e6; */
    padding-left: 10px;
    padding-right: 10px;
}

.first-td {
    width: 75px;
    background-color: aqua;
}

/* Styles for the Latency diagram */
.latency-table {
    width: 100%;
    table-layout: fixed;
    border-collapse: separate;
    /* Ensures uniform column width */
}

.latency-table td {
    text-align: center;
    vertical-align: middle;
}

.icon-box {
    padding: 10px;
    border: 1px solid #ccc;
    /* Box around the icons */
    display: inline-block;

    width: 90px;
    height: 90px;
    /* Ensures boxes are of sufficient width */
}

.arrow-cell {
    width: 120px;
    /* Fixed width for arrows */
}

.arrow {
    display: inline-block;
    width: 100%;
    text-align: center;
}

.arrow span {
    font-size: 50px;
}

.arrow i {
    transform: rotate(0deg);
    /* Corrects arrow orientation if needed */
    font-size: 24px;
    /* Larger icon size for visibility */
}

.latency-label {
    margin-top: -20px;
    font-size: 24px;
    /* Adjusts position relative to arrow */
}

.text-under {
    display: block;
    font-size: 0.75rem;
    /* Smaller font size for descriptions */
    color: gray;
    /* Color for descriptive text */
}

.lg-icon {
    font-size: 24px;
}

/* Styling for the stats table */


.stats-table {
    width: 20%;
    height: 180px;
    table-layout: fixed;
    display: inline-block;
    border-collapse: separate;
    float: left;
    margin-right: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    /* Ensures uniform column width */
}

.stats-table-lg {
    width: 25%;
    height: 180px;
    table-layout: fixed;
    display: inline-block;
    border-collapse: separate;
    float: left;
    margin-right: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    /* Ensures uniform column width */
}

.stats-summary-table td:first-child,
.stats-table-lg td:first-child,
.stats-table td:first-child {
    /* width: 100px; */
    padding-right: 20px;

    /* background-color: aqua; */
}


.selecthover:hover {
    cursor: pointer;
    font-style: italic;
    font-weight: bold;
}

.stats-summary-table {
    min-width: 20%;
    max-width: 25%;
    table-layout: fixed;
    display: inline-block;
    border-collapse: separate;

    margin-right: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    /* Ensures uniform column width */
}

.stats-userlogin-table {
    min-width: 25%;
    max-width: 50%;
    table-layout: fixed;
    display: inline-block;
    border-collapse: separate;

    /* margin-right: 20px; */
    border: 1px solid #ccc;
    padding: 10px;
    /* Ensures uniform column width */
}

.stats-userlogin-table td:nth-child(2),
.stats-userlogin-table td:first-child {
    /* width: 100px; */
    padding-right: 20px;

    /* background-color: aqua; */
}


/* Fonts */
.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
}