    
<td colspan="11" style="background-color: #f3f4fa;"> 

    <div id="feature-details-{{name}}" class="tableDetails p-3" style="background-color: white;">
        <h5>Enabled Features
        <div class="padding-topbottom-5px">
            <span class="badge {{httpsClass}}">HTTPS</span>
            <span class="badge {{httpClass}}">HTTP</span>
            <span class="badge {{autoCertClass}}">AutoCert</span>
            <span class="badge {{routesClass}}">Routes</span>
            <span class="badge {{subsetRoutingClass}}">Subset Routing</span>
            <span class="badge {{corsPolicyClass}}">CORS Policy</span>
            <span class="badge {{dataGuardClass}}">Data Guard</span>
        </div>
        <div class="padding-topbottom-5px">
            <span class="badge {{wafClass}}">WAF</span>
            <span class="badge {{botDefenseClass}}">Bot Defense</span>
            <span class="badge {{ipReputationClass}}">IP Reputation</span>
            <span class="badge {{clientSideDefenseClass}}">Client Side Defense</span>
            <span class="badge {{nsServicePolicyClass}}">NS Service Policy</span>
            <span class="badge {{lbServicePolicyClass}}">LB Service Policy</span>
            <span class="badge {{cookieProtectionClass}}">Cookie Protection</span>
        </div>
        <div class="padding-topbottom-5px">
            <span class="badge {{apiDiscoveryClass}}">API-Discovery</span>
            <span class="badge {{apiDefinitionClass}}">API-Definition</span>
            <span class="badge {{apiValidationClass}}">API-Validation</span>
            <span class="badge {{apiProtectionClass}}">API-Protection</span>
            <span class="badge {{maliciousUserDetectionClass}}">Malicious User Detection</span>
            <span class="badge {{maliciousUserMitigationClass}}">Malicious User Mitigation</span>
        </div>
    </div>
    </h5>
    <br>
    <div id="network-details-{{name}}" class="tableDetails p-3" style="background-color: white;">

        <table class="stats-table">
        <tr>
            <th><h5>Network</h5></th>
            <th></th>
        </tr>        
        <tr>
            <td>HTTP Error Rate</td>
            <td>{{errorRate}}</td>
        </tr>      
        <tr>
            <td>Tx Transfer</td>
            <td>{{txTransfer}}</td>
        </tr>
        <tr>
            <td>Rx Transfer</td>
            <td>{{rxTransfer}}</td>
        </tr>

        <tr>
            <td>VIP</td>
            <td>{{vip}}</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>        
        </table>
        <table class="stats-table">
        <tr>
            <th><h5>Security</h5></th>
            <th></th>
        </tr>             
            <tr>
                <td>Total Events</td>
                <td>{{totalEvents}}</td>
            </tr>
            <tr>
                <td>WAF Events</td>
                <td>{{wafEvents}}</td>
            </tr>
            <tr>
                <td>Bot Events</td>
                <td>{{botEvents}}</td>
            </tr>
            <tr>
                <td>SP Events</td>
                <td>{{spEvents}}</td>
            </tr>
            <tr>
                <td>API Events</td>
                <td>{{apiEvents}}</td>
            </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>              
        </table>

        <table class="stats-table-lg">
        <tr>
            <th><h5>Other</h5></th>
            <th></th>
        </tr>             
            <tr>
                <td>LB Creation</td>
                <td>{{lbCreation}}</td>
            </tr>
            <tr>
                <td>LB Last Modified</td>
                <td>{{lbLastModified}}</td>
            </tr>
            <tr>
                <td>Cert State</td>
                <td>{{certState}}</td>
            </tr>
            <tr>
                <td>Cert Expiry</td>
                <td>{{certExpiry}}</td>
            </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>              
        </table>
    <table class="stats-table-lg">
        <tr>
            <th>Domains</th>
        </tr>
        <tr>
            <td><textarea readonly style="overflow: auto; height: 120px; width: 200px; border: none; outline: none;">{{allDomains}}</textarea></td>


        </tr>

    </table>           
    </div>
    <br>
    <div id="latency-details-{{name}}" class="tableDetails p-3" style="background-color: white;">
        <h5>Latency</h5>
        <table class="latency-table">
            <tr>
                <td>
                    <div class="icon-box">
                        <i class="bi bi-person lg-icon"></i>
                        <div>Client</div>
                    </div>
                </td>
                <td class="arrow-cell">
                    <div class="arrow">
                        <div class="latency-label">{{clientLatency}}</div>
                        <img src="{{clientArrowSrc}}" class="arrow">
                    </div>
                    <div class="text-under">Client Latency</div>
                </td>
                <td>
                    <div class="icon-box">
                        <i class="bi bi-diagram-2 lg-icon rotate-icon"></i>
                        <div>LB</div>
                    </div>
                </td>
                <td class="arrow-cell">
                    <div class="arrow">
                        <div class="latency-label">{{serverLatency}}</div>
                        <img src="{{serverArrowSrc}}" class="arrow">
                    </div>
                    <div class="text-under">Server Latency</div>
                </td>
                <td>
                    <div class="icon-box">
                        <i class="bi bi-server lg-icon"></i>
                        <div>Server</div>
                    </div>
                </td>
                <td class="arrow-cell">
                    <div class="arrow">
                        <div class="latency-label">{{appLatency}}</div>
                        <img src="{{appArrowSrc}}" class="arrow">
                    </div>
                    <div class="text-under">App Latency</div>
                </td>
                <td>
                    <div class="icon-box">
                        <i class="bi bi-code-square lg-icon"></i>
                        <div>App</div>
                    </div>
                </td>
            </tr>
        </table>
    </div>

</td>