/* Overall styles */
body {
    font-family: Inter, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    background-color: #1f1f1f; /* Dark background color */
    color: #f3f4fa; /* Light text color */
}

.divider {
    border-right: 1px solid #545454; /* Darker divider color */
}

/* Left side styles */
#navigation-panel {
    max-width: 260px;
    width: 100%;
    background-color: #2d2d2d; /* Darker navigation panel background color */
    border-right: 1px solid #545454; /* Darker border color */
    padding-right: 5px;
    padding-left: 5px;
}

#logo {
    padding: 20px 5px;
    margin-bottom: 20px;
    border-bottom: 1px solid #545454; /* Darker border color */
}

#service-target {
    padding: 20px 5px;
    margin-bottom: 20px;
    border-top: 1px solid #545454; /* Darker border color */
    border-bottom: 1px solid #545454; /* Darker border color */
}

.nav-link {
    color: #f3f4fa; /* Light navigation link color */
}

.nav-link:hover {
    color: #007bff; /* Blue hover color */
}

.navigation-header {
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 5px;
}

/* Right side styles */
#main {
    border-left: 1px solid #545454; /* Darker border color */
}

#breadcrumbs {
    padding: 10px 20px;
    border-bottom: 1px solid #545454; /* Darker border color */
}

#spacer {
    height: 20px;
    border-bottom: 1px solid #545454; /* Darker border color */
}

#subcontent {
    background-color: #363636; /* Darker content area background color */
    min-height: calc(100vh - 63px - 20px - 20px);
    padding: 20px;
}
